<app-navbar></app-navbar>
<div [ngClass]="{ 'dark-mode': darkMode }" class="team-management">
  <h2>Team Management</h2>

  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" [ngClass]="{ 'neumorphism-form': true, 'dark-mode': darkMode }">
    <div class="form-group">
      <label for="name">Team Name</label>
      <input id="name" formControlName="name" required />
    </div>

    <div class="form-group">
      <label for="msp_id">Select MSP</label>
      <select id="msp_id" formControlName="msp_id" required>
        <option *ngFor="let msp of msps" [value]="msp.id">{{ msp.type_name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="members">Members</label>
      <select id="members" formControlName="members" multiple>
        <option *ngFor="let member of users" [value]="member.id">{{ member.username }}</option>
      </select>
    </div>

    <div class="button-group">
      <button type="submit">{{ selectedTeam ? 'Update Team' : 'Add Team' }}</button>
      <button type="button" (click)="teamForm.reset()">Reset</button>
    </div>
  </form>

  <h3>Existing Teams</h3>
  <ul class="team-list">
    <li *ngFor="let team of teams" class="team-item">
      <h4>{{ team.name }}</h4>
      <p><strong>MSP:</strong> {{ team.msp }}</p>
      <div class="members">
        <h5>Members:</h5>
        <ul>
          <li *ngFor="let member of team.members">
            <span>{{ member.username }} (Role :- {{ member.role }})</span>
          </li>
        </ul>
      </div>
      <div class="button-group">
        <button (click)="onEdit(team)" class="edit-button">Edit</button>
        <button (click)="deleteTeam(team.id)" class="delete-button">Delete</button>
      </div>
    </li>
  </ul>
</div>
