
<!-- <body> -->
<div class="body-container">
    <div class="container">
        <h2>Register</h2>
        <form >
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a (click)="goToLoginPage()">Login here</a></p>
    </div>
</div>
    
<!-- </body> -->