<mat-toolbar color="primary">
    <span>MyAPP</span>
    <span class="spacer"></span>
    <button mat-button  (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToCustomer()">Customers</button>
    <button mat-button (click)="goToDevices()">Devices</button>
    <button mat-button (click)="goToIncidents()">Incidents</button>
    <button mat-button (click)="goToIntegrations()">Integrations</button>
    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>{{ darkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
  </mat-toolbar>