<mat-toolbar color="primary">
    <span>Incidents Core</span>
    <span class="spacer"></span>
    <ng-container *ngIf="shouldDisplayNavItems()">
        <button mat-button class="spaced-button" (click)="goToDashboard()">Dashboard</button>
        <button mat-button class="spaced-button" (click)="goToCustomer()">Customers</button>
        <button mat-button class="spaced-button" (click)="goToDevices()">Devices</button>
        <button mat-button class="spaced-button" (click)="goToIncidents()">Incidents</button>
        <button mat-button class="spaced-button" (click)="goToIntegrations()">Integrations</button>
        <!-- New Team Button -->
        <button mat-button class="spaced-button" (click)="goToTeam()">Team</button>
        <button mat-button class="spaced-button" (click)="onLogout()">Logout</button>
    </ng-container>

    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>{{ darkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
  </mat-toolbar>  