<!-- Top Navbar Layout -->
<div *ngIf="menuPosition === 'top'" [ngClass]="{'dark-theme-top': currentTheme === 'dark', 'navbar-top': currentTheme === 'light'}">
  <mat-toolbar>
    <img *ngIf="logoUrl" [src]="logoUrl" alt="Company Logo" class="company-logo">
    <!-- <span>Incidents Core</span> -->
    <span class="spacer"></span>
    <ng-container *ngIf="shouldDisplayNavItems()">
      <button mat-button class="spaced-button" (click)="goToDashboard()">
        <fa-icon [icon]="faDashboard"></fa-icon> Dashboard</button>
      <button mat-button class="spaced-button" (click)="goToCustomer()"><fa-icon [icon]="faCustomers"></fa-icon> Customers</button>
      <button mat-button class="spaced-button" (click)="goToDevices()"><fa-icon [icon]="faDevices"></fa-icon> Devices</button>
      <button mat-button class="spaced-button" (click)="goToIncidents()"><fa-icon [icon]="faIncidents"></fa-icon> Incidents</button>
      <button mat-button class="spaced-button" (click)="goToIntegrations()"><fa-icon [icon]="faIntegrations"></fa-icon> Integrations</button>
      <button mat-button class="spaced-button" (click)="goToProfile()"><fa-icon [icon]="faProfile"></fa-icon> My Profile</button>
      <button mat-button class="spaced-button" (click)="goToTeam()"><fa-icon [icon]="faTeam"></fa-icon> Team</button>
      <button mat-button class="spaced-button" (click)="goToLogView()"><fa-icon [icon]="faLogs"></fa-icon> Logs</button>
      <!-- <button mat-button class="spaced-button" (click)="goToHumanAgentDashboard()"><fa-icon [icon]="faLogout"></fa-icon> Human Agent</button> -->

      <button mat-button class="spaced-button" (click)="onLogout()"><fa-icon [icon]="faLogout"></fa-icon> Logout</button>
    
    </ng-container>
    <!-- <ng-container *ngIf="shouldDisplayNavItems() && !isAdmin ">
      <button mat-button class="spaced-button" (click)="goToHumanAgentDashboard()"><fa-icon [icon]="faDashboard"></fa-icon>Human Agent</button>
      <button mat-button class="spaced-button" (click)="goToProfile()"><fa-icon [icon]="faProfile"></fa-icon> My Profile</button>

      <button mat-button class="spaced-button" (click)="onLogout()"><fa-icon [icon]="faLogout"></fa-icon> Logout</button>
    
    </ng-container> -->
    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>{{ darkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
  </mat-toolbar>
</div>

<!-- Left Navbar Layout -->
<div *ngIf="menuPosition === 'left'" [ngClass]="{'dark-theme': currentTheme === 'dark', 'navbar-left': currentTheme === 'light'}">
  <mat-toolbar>
    <img *ngIf="logoUrl" [src]="logoUrl" alt="Company Logo" class="company-logo">
    <!-- <span>Incidents Core</span> -->
    
  </mat-toolbar>
  <span class="spacer-left"></span>
  <nav>
    <ng-container *ngIf="shouldDisplayNavItems()">
      <button mat-button class="side-nav-button" (click)="goToDashboard()">
        <fa-icon [icon]="faDashboard"></fa-icon> <br> <span>Dashboard</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToCustomer()">
        <fa-icon [icon]="faCustomers"></fa-icon> <br> <span>Customers</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToDevices()">
        <fa-icon [icon]="faDevices"></fa-icon> <br> <span>Devices</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToIncidents()">
        <fa-icon [icon]="faIncidents"></fa-icon> <br> <span>Incidents</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToIntegrations()">
        <fa-icon [icon]="faIntegrations"></fa-icon> <br> <span>Integrations</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToProfile()">
        <fa-icon [icon]="faProfile"></fa-icon> <br> <span>My Profile</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToTeam()">
        <fa-icon [icon]="faTeam"></fa-icon> <br> <span>Team</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToLogView()">
        <fa-icon [icon]="faLogs"></fa-icon> Logs
      </button>
      <button mat-button class="side-nav-button" (click)="onLogout()">
        <fa-icon [icon]="faLogout"></fa-icon> <br> <span>Logout</span>
      </button>
    </ng-container>

    <!-- <ng-container *ngIf="shouldDisplayNavItems() && !isAdmin">
      <button mat-button class="side-nav-button" (click)="goToHumanAgentDashboard()">
        <fa-icon [icon]="faDashboard"></fa-icon> <br> <span>Human Agent</span>
      </button>
      <button mat-button class="side-nav-button" (click)="goToProfile()">
        <fa-icon [icon]="faProfile"></fa-icon> <br> <span>My Profile</span>
      </button>
      <button mat-button class="side-nav-button" (click)="onLogout()">
        <fa-icon [icon]="faLogout"></fa-icon> <br> <span>Logout</span>
      </button>

    </ng-container> -->

    <button mat-icon-button (click)="toggleDarkMode()">
      <mat-icon>{{ darkMode ? 'brightness_7' : 'brightness_4' }}</mat-icon>
    </button>
  </nav>
</div>
