.incident-container {
    padding: 20px;
    background-color: var(--background-color);
  }

  .navbar-left{
    margin-left: 200px;
    /* padding-left: 210px; */
  }
  .neumorphic{
    margin-top: 5px;
  }

  /* Base styles for the drill-down table */
 table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: var(--table-bg); */
  border: 1px solid var(--table-border-color);
}

 th {
  padding: 8px 12px;
  /* background-color: var(--table-header-bg); */
  color: var(--table-text-color);
  text-align: left;
  border: 1px solid var(--table-border-color);
}

 td {
  padding: 8px 12px;
  /* background-color: var(--table-bg); */
  color: var(--table-text-color);
  border: 1px solid var(--table-border-color);
}

.button-container {
  display: flex;               /* Use flexbox to layout the buttons */
  gap: 5px;                   /* Reduced space between buttons */
  align-items: center;        /* Center items vertically */
}

.button-container button {
  padding: 4px;               /* Decrease padding for smaller buttons */
  font-size: 14px;            /* Adjust font size */
  width: 30px;                /* Set a fixed width for buttons */
  height: 30px;               /* Set a fixed height for buttons */
  min-width: 30px;            /* Minimum width to ensure consistent size */
}

.button-container fa-icon {
  font-size: 16px;            /* Adjust icon size */
}


/* Filters section styling */
.filters {
  margin-top: 20px;
  padding: 10px;
  /* background-color: var(--filter-bg, #f4f4f4); Light background for the filter section */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a neumorphic effect */
}

/* Filter label and select styling */
.filters label {
  font-size: 16px;
  /* color: var(--label-color, #333); */
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.filters select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 4px;
  width: 180px;
  margin-right: 20px;
}

/* Styling for the Toggle Order button */
.filters button {
  /* padding: 8px 16px; */
  font-size: 14px;
  background-color: var(--button-bg, #007bff);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: var(--button-bg-hover, #0056b3);
}

label, input, span, h2 {
  color: var(--table-text-color) !important
}
