<app-navbar></app-navbar>
<div class="neumorphic" [ngClass]="{'navbar-top': menuOption === 'top', 'navbar-left': menuOption === 'left'}">
  <div class="incident-container">
    <h2>Manage Incidents</h2>

    <mat-form-field>
      <mat-label>Incident Title</mat-label>
      <input matInput [(ngModel)]="newIncident.title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="newIncident.description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Device</mat-label>
      <mat-select [(ngModel)]="newIncident.deviceId" required>
        <mat-option *ngFor="let device of devices" [value]="device.id">
          {{ device.name }} <!-- Change according to your device property -->
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Severity</mat-label>
        <mat-select [(ngModel)]="newIncident.severity" required>
          <mat-option *ngFor="let severity of severities" [value]="severity.level"> <!-- Use severity.level -->
            {{ severity.level }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="addIncident()">Add Incident</button>


    <div class="drilldown">
      <h2>Incident Details</h2>
      <table>
        <thead>
          <tr >
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Resolved Status</th>
            <th>Device</th>
            <th>Severity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incident of incidentsData">
            <td>{{ incident.id}}</td>
            <td>{{ incident.title }}</td>
            <td>{{ incident.description }}</td>
            <td>{{ incident.resolved ? 'Resolved' : 'Active' }}</td>
            <td> {{ incident.device.name}}</td>
            <td>{{ incident.severity.level }}</td>
            <td><button (click)="callOrchestrationLayer(incident.id)">Run Orchestration</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <h3>Incident List</h3> -->
    
    <!-- <mat-list>
      <mat-list-item *ngFor="let incident of incidents">
        {{ incident.title }} - {{ incident.status }}
        <button mat-icon-button (click)="deleteIncident(incident.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list> -->
  </div>
</div>
