.navbar-left{
    margin-left: 200px;
    /* padding-left: 210px; */
  }

  .neumorphic{
    margin-top: 5px;
  }

 /* Base styles for the drill-down table */
 table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: var(--table-bg); */
  border: 1px solid var(--table-border-color);
}

 th {
  padding: 8px 12px;
  /* background-color: var(--table-header-bg); */
  color: var(--table-text-color);
  text-align: left;
  border: 1px solid var(--table-border-color);
}

 td {
  padding: 8px 12px;
  /* background-color: var(--table-bg); */
  color: var(--table-text-color);
  border: 1px solid var(--table-border-color);
}

h1,h2, h3 ,p, label{
  color: var(--table-text-color);
}