<app-navbar></app-navbar>
<h2>Manage Customers</h2>
<ul>
  <li *ngFor="let customer of customers">{{ customer.name }} - {{ customer.email }}</li>
</ul>
<mat-form-field>
    <mat-label>Customer Name</mat-label>
    <input matInput [(ngModel)]="newCustomer.name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="newCustomer.email">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="newCustomer.phone">
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="addCustomer()">Add Customer</button>